.digitalclock{
  display: flex;
  align-items: center;
  justify-content: center;
  display: grid;
  min-height:60vh;

}
.clock {
  font-family: monospace;
  font-size: 6rem;
  text-align: center;
  font-weight:lighter ;
}